# Data Analysis (Spark)
Once we have made the data ready for analysis, we have to perform below analysis queries

In [1]:
from pyspark.sql import SparkSession

# # Get the SparkContext
# sc = spark.sparkContext

# # Set the logging level to VERBOSE
# sc.setLogLevel("DEBUG")

In [7]:
import numpy as np
np.bool = np.bool_

In [2]:
# Create a Spark session
spark = SparkSession.builder \
    .appName("HealthcareDataAnalysis") \
    .config("spark.jars", "/home/hduser/Downloads/test/usr/share/java/mysql-connector-j-8.4.0.jar") \
    .enableHiveSupport() \
    .getOrCreate()

# Show all the Databases of Hive
df = spark.sql("show databases").show()

spark.stop()

24/06/02 19:04:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/02 19:05:10 WARN HiveConf: HiveConf of name hive.metastore.event.db.notification.api.auth does not exist
24/06/02 19:05:10 WARN HiveConf: HiveConf of name hive.enforce.bucketing does not exist

+-----------------+
|        namespace|
+-----------------+
|       adidasshop|
|          default|
|            eshop|
|healthcare_system|
+-----------------+

In [3]:
# Create a Spark session
spark = SparkSession.builder \
    .appName("HealthcareDataAnalysis") \
    .config("spark.jars", "/home/hduser/Downloads/test/usr/share/java/mysql-connector-j-8.4.0.jar") \
    .enableHiveSupport() \
    .getOrCreate()

df = spark.sql("SELECT * FROM healthcare_System.claims").show()

spark.stop()

+--------+----------+----------------+----------+-----------------+----------------+------------+----------+
|claim_id|patient_id|    disease_name|    sub_id|claim_or_rejected|      claim_type|claim_amount|claim_date|
+--------+----------+----------------+----------+-----------------+----------------+------------+----------+
|       1|    187158|    Galactosemia|SUBID10000|                N| claims of value|     79874.0|1949-03-14|
|       2|    112766|  Bladder cancer|SUBID10001|                N|claims of policy|    151142.0|1970-03-16|
|       3|    199252|   Kidney cancer|SUBID10002|                N| claims of value|     59924.0|2008-02-03|
|       4|    133424|         Suicide|SUBID10003|                N|  claims of fact|    143120.0|1995-02-08|
|       5|    172579|    Food allergy|SUBID10004|                Y| claims of value|    168634.0|1967-05-23|
|       6|    171320|        Whiplash|SUBID10005|                N|claims of policy|     64840.0|1991-10-04|
|       7|    107794|      Sunbathing| SUBID1006|                N|  claims of fact|     26800.0|1991-03-26|
|       8|    130339|Drug consumption|SUBID10007|                N| claims of value|    177186.0|1946-09-05|
|       9|    110377|          Dengue|SUBID10008|                N|  claims of fact|    141123.0|1966-06-20|
|      10|    149367|    Head banging|SUBID10009|                N| claims of value|     88540.0|1945-12-29|
|      11|    156168| Fanconi anaemia| SUBID1010|                N| claims of value|     29150.0|1999-01-25|
|      12|    114241|   Breast cancer|SUBID10011|                Y| claims of value|     40897.0|1975-02-08|
|      13|    146382|         Anthrax|SUBID10012|                N| claims of value|     75983.0|1985-02-12|
|      14|    132748| Cystic fibrosis|SUBID10013|                N|  claims of fact|    192340.0|2014-07-30|
|      15|    167340|    Galactosemia|SUBID10014|                N| claims of value|    118628.0|2003-12-18|
|      16|    135184|          Dengue|SUBID10015|                Y| claims of value|    100224.0|1986-08-02|
|      17|    179662|        Smallpox|SUBID10016|                N| claims of value|     42860.0|1955-01-20|
|      18|    184479|  Pollen allergy|SUBID10017|                N|claims of policy|    161786.0|2017-06-01|
|      19|    156988|   Breast cancer|SUBID10018|                N|  claims of fact|     66129.0|1956-01-04|
|      20|    132870|        Glaucoma|SUBID10019|                N| claims of value|    182552.0|1948-07-26|
+--------+----------+----------------+----------+-----------------+----------------+------------+----------+
only showing top 20 rows

In [4]:
spark = SparkSession.builder \
    .appName("HealthcareDataAnalysis") \
    .config("spark.jars", "/home/hduser/Downloads/test/usr/share/java/mysql-connector-j-8.4.0.jar") \
    .enableHiveSupport() \
    .getOrCreate()

In [10]:
sparkdf = spark.sql("use healthcare_System;")

In [11]:
# Print all the tables which are present in the healthcare_system database.
sparkdf = spark.sql("show tables")
# Chuyển đổi sang Pandas DataFrame và lưu thành CSV
pd_df = sparkdf.toPandas()
pd_df.to_csv('Spark Outputs/Database.csv', index=False)
sparkdf.show()

+-----------------+----------------+-----------+
|        namespace|       tableName|isTemporary|
+-----------------+----------------+-----------+
|healthcare_system|          claims|      false|
|healthcare_system|         disease|      false|
|healthcare_system|  group_subgroup|      false|
|healthcare_system|     groups_tble|      false|
|healthcare_system|hospital_details|      false|
|healthcare_system| patient_details|      false|
|healthcare_system|        subgroup|      false|
|healthcare_system|      subscriber|      false|
+-----------------+----------------+-----------+

In [12]:
# Describe the claims table
sparkdf = spark.sql("desc claims")
sparkdf.toPandas().to_csv('Spark Outputs/Claims_tble.csv')
sparkdf.show()

+-----------------+---------+-------+
|         col_name|data_type|comment|
+-----------------+---------+-------+
|         claim_id|      int|   null|
|       patient_id|      int|   null|
|     disease_name|   string|   null|
|           sub_id|   string|   null|
|claim_or_rejected|   string|   null|
|       claim_type|   string|   null|
|     claim_amount|   double|   null|
|       claim_date|     date|   null|
+-----------------+---------+-------+

In [13]:
# Describe the disease table
sparkdf = spark.sql("desc disease")
sparkdf.toPandas().to_csv('Spark Outputs/disease_tble.csv')
sparkdf.show()

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
|  disease_id|      int|   null|
|disease_name|   string|   null|
|   subgrp_id|   string|   null|
+------------+---------+-------+

In [15]:
# Describe the groups table
sparkdf = spark.sql("desc groups_tble")
sparkdf.toPandas().to_csv('Spark Outputs/groups_tble.csv')
sparkdf.show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|         grp_sk|      int|   null|
|         grp_id|   string|   null|
|       grp_name|   string|   null|
|premium_written|      int|   null|
|           city|   string|   null|
|       zip_code|      int|   null|
|        country|   string|   null|
|       grp_type|   string|   null|
+---------------+---------+-------+

In [17]:
# Describe the grp_subgrp table
sparkdf = spark.sql("desc group_subgroup")
sparkdf.toPandas().to_csv('Spark Outputs/grp_subgrp_tble.csv')
sparkdf.show()

+---------+---------+-------+
| col_name|data_type|comment|
+---------+---------+-------+
|grpsub_sk|      int|   null|
|     g_id|   string|   null|
|     s_id|   string|   null|
+---------+---------+-------+

In [19]:
# Describe the hospital table
sparkdf = spark.sql("desc hospital_details")
sparkdf.toPandas().to_csv('Spark Outputs/hospital_tble.csv')
sparkdf.show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|  hospital_id|   string|   null|
|hospital_name|   string|   null|
|         city|   string|   null|
|        state|   string|   null|
|      country|   string|   null|
+-------------+---------+-------+

In [21]:
# Describe the patient table
sparkdf = spark.sql("desc patient_details")
sparkdf.toPandas().to_csv('Spark Outputs/patient_tble.csv')
sparkdf.show()

+------------------+---------+-------+
|          col_name|data_type|comment|
+------------------+---------+-------+
|        patient_id|      int|   null|
|      patient_name|   string|   null|
|    patient_gender|   string|   null|
|patient_birth_date|     date|   null|
|     patient_phone|   string|   null|
|      disease_name|   string|   null|
|              city|   string|   null|
|       hospital_id|   string|   null|
+------------------+---------+-------+

In [24]:
# Describe the subgroup table
sparkdf = spark.sql("desc subgroup")
sparkdf.toPandas().to_csv('Spark Outputs/subgroup_tble.csv')
sparkdf.show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|      subgrp_sk|      int|   null|
|      subgrp_id|   string|   null|
|    subgrp_name|   string|   null|
|monthly_premium|   double|   null|
+---------------+---------+-------+

In [25]:
# Describe the subscriber table
sparkdf = spark.sql("desc subscriber")
sparkdf.toPandas().to_csv('Spark Outputs/subscriber_tble.csv')
sparkdf.show()

+----------+---------+-------+
|  col_name|data_type|comment|
+----------+---------+-------+
|    sub_id|   string|   null|
|first_name|   string|   null|
| last_name|   string|   null|
|    street|   string|   null|
|birth_date|     date|   null|
|    gender|   string|   null|
|     phone|   string|   null|
|      city|   string|   null|
|  zip_code|      int|   null|
|   country|   string|   null|
| subgrp_id|   string|   null|
|  elig_ind|   string|   null|
|  eff_date|     date|   null|
| term_date|     date|   null|
+----------+---------+-------+

In [26]:
# which disease having maximum number of claims.
results = spark.sql("select disease_name,count(claim_id) as \
                    max from claims group by disease_name order by max desc")

In [27]:
results.toPandas().to_csv('Spark Outputs/query1.csv')
results.show()

+---------------+---+
|   disease_name|max|
+---------------+---+
|   Head banging|  3|
|    Pet allergy|  3|
|   Galactosemia|  3|
|       Glaucoma|  3|
|        Anthrax|  3|
|Phenylketonuria|  3|
|            Flu|  2|
| Bladder cancer|  2|
|       Diabetes|  2|
|Fanconi anaemia|  2|
|     Lymphedema|  2|
|        Cholera|  2|
|         Stroke|  2|
|         Scurvy|  2|
|  Rett Syndrome|  2|
|        Measles|  2|
|   Mold allergy|  2|
|        Malaria|  2|
|        Choking|  2|
|         Asthma|  2|
+---------------+---+
only showing top 20 rows

In [28]:
# Find those Subscribers having age less than 30 and they subscribe any subgroup
subscriber_ages = spark.sql("select birth_date,current_date() as CurrentDate,\
          year(current_date())-year(birth_date) as age from subscriber")

In [29]:
res = subscriber_ages.filter(subscriber_ages.age < 30).count()

In [30]:
print("Subscribers having age less than 30 --> ",res)

Subscribers having age less than 30 -->  3

In [32]:
# Find out which group has maximum subgroups.
sparkdf = spark.sql("select g_id,count(s_id) as max from group_subgroup group by g_id order by max desc")
sparkdf.toPandas().to_csv('Spark Outputs/query3.csv')
sparkdf.show()

+------+---+
|  g_id|max|
+------+---+
|GRP143|  2|
|GRP147|  2|
|GRP104|  2|
|GRP105|  1|
|GRP108|  1|
|GRP131|  1|
|GRP102|  1|
|GRP103|  1|
|GRP112|  1|
|GRP101|  1|
|GRP123|  1|
|GRP114|  1|
|GRP127|  1|
|GRP133|  1|
|GRP122|  1|
|GRP138|  1|
|GRP148|  1|
|GRP142|  1|
|GRP157|  1|
|GRP126|  1|
+------+---+
only showing top 20 rows

In [33]:
# Find out hospital which serve most number of patients
sparkdf = spark.sql("select hospital_name,count(patient_id) as total_patient \
          from hospital_details join patient_details on hospital_details.hospital_id=patient_details.hospital_id \
          group by hospital_name order by total_patient desc")

sparkdf.toPandas().to_csv('Spark Outputs/query4.csv')
sparkdf.show()

+--------------------+-------------+
|       hospital_name|total_patient|
+--------------------+-------------+
|   Manipal Hospitals|            9|
|Apollo Hospitals ...|            8|
|Medanta The Medicity|            7|
|Jaslok Hospital a...|            6|
|Indraprastha Apol...|            5|
|Fortis Hospital M...|            4|
|PGIMER - Postgrad...|            4|
|Apollo Hospital -...|            4|
|Bombay Hospital &...|            3|
|Yashoda Hospital ...|            3|
|Apollo Health Cit...|            3|
|King Edward Memor...|            3|
|Lilavati Hospital...|            2|
|The Christian Med...|            2|
|Fortis Hiranandan...|            2|
|Fortis Flt. Lt. R...|            1|
|P. D. Hinduja Nat...|            1|
|Sir Ganga Ram Hos...|            1|
|All India Institu...|            1|
|Breach Candy Hosp...|            1|
+--------------------+-------------+

In [34]:
# Find out which subgroups subscribe most number of times
sparkdf = spark.sql("select subgrp_name, \
          count(sub_id) as cunt from subgroup join \
          subscriber on subgroup.subgrp_id = subscriber.subgrp_id  group by subgrp_name order by cunt desc")

sparkdf.toPandas().to_csv('Spark Outputs/query5.csv')
sparkdf.show()

+-------------------+----+
|        subgrp_name|cunt|
+-------------------+----+
|            Therapy|  14|
|              Viral|  11|
|Deficiency Diseases|  11|
|         Hereditary|  11|
|          Allergies|  10|
|         Physiology|  10|
|           Accident|  10|
|             Cancer|   9|
|     Self inflicted|   7|
| Infectious disease|   7|
+-------------------+----+

In [35]:
# Find out total number of claims which were rejected
sparkdf = spark.sql("select claim_or_rejected,count(claim_id) from claims group by claim_or_rejected")

sparkdf.toPandas().to_csv('Spark Outputs/query6.csv')
sparkdf.show()
print("The above Result shows the total 52 claims were rejected")

+-----------------+---------------+
|claim_or_rejected|count(claim_id)|
+-----------------+---------------+
|                Y|             18|
|                N|             52|
+-----------------+---------------+

The above Result shows the total 52 claims were rejected

In [37]:
# From where most claims are comming (city)
sparkdf = spark.sql("select patient_details.city,count(claim_id) as maxclaim from patient_details join claims on \
          claims.patient_id = patient_details.patient_id group by patient_details.city order by maxclaim desc limit 10")
sparkdf.toPandas().to_csv('Spark Outputs/query7.csv')
sparkdf.show()

+------------+--------+
|        city|maxclaim|
+------------+--------+
|      Mysore|       2|
|    Amravati|       2|
|   Kamarhati|       2|
|    Jabalpur|       2|
|Bihar Sharif|       2|
|   Ghaziabad|       2|
|       Morbi|       2|
|  Karimnagar|       2|
|   Bangalore|       1|
|     Udaipur|       1|
+------------+--------+

In [38]:
# Which groups of policies subscriber subscribe mostly Goverment or private
sparkdf = spark.sql("select grp_type,count(grp_id) from groups_tble group by grp_type")
sparkdf.toPandas().to_csv('Spark Outputs/query8.csv')
sparkdf.show()

+--------+-------------+
|grp_type|count(grp_id)|
+--------+-------------+
|   Govt.|            7|
| Private|           51|
+--------+-------------+

In [39]:
res = spark.sql("select group_subgroup.g_id from subscriber \
          join group_subgroup on group_subgroup.s_id = subscriber.subgrp_id")

res.registerTempTable("grp_tble")

sparkdf = spark.sql("select grp_type,count(grp_tble.g_id) from groups_tble \
          join grp_tble on groups_tble.grp_id = grp_tble.g_id group by grp_type")

sparkdf.toPandas().to_csv('Spark Outputs/query9.csv')
sparkdf.show()

/home/hduser/miniconda3/envs/bigdata/lib/python3.9/site-packages/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

+--------+-----------+
|grp_type|count(g_id)|
+--------+-----------+
|   Govt.|         35|
| Private|        347|
+--------+-----------+

In [40]:
print("The Above Result shows that most of the subscribers subscribe private groups")

The Above Result shows that most of the subscribers subscribe private groups

In [41]:
# Average monthly premium subscriber pay to insurance company subgroup.
sparkdf = spark.sql("select subgroup.subgrp_id,avg(monthly_premium) from subscriber right join \
          subgroup on subscriber.subgrp_id = subgroup.subgrp_id group by \
          subgroup.subgrp_id order by subgroup.subgrp_id")
sparkdf.toPandas().to_csv('Spark Outputs/query10.csv')
sparkdf.show()

+---------+--------------------+
|subgrp_id|avg(monthly_premium)|
+---------+--------------------+
|     S101|              3000.0|
|     S102|              1000.0|
|     S103|              2000.0|
|     S104|              1500.0|
|     S105|              2300.0|
|     S106|              1200.0|
|     S107|              3200.0|
|     S108|              1500.0|
|     S109|              2000.0|
|     S110|              1000.0|
+---------+--------------------+

In [42]:
# Find out Which group is most profitable
sparkdf = spark.sql("select grp_id,premium_written from groups_tble order by premium_written desc")
sparkdf.toPandas().to_csv('Spark Outputs/query11.csv')
sparkdf.show()

+------+---------------+
|grp_id|premium_written|
+------+---------------+
|GRP147|          99000|
|GRP131|          99000|
|GRP123|          99000|
|GRP118|          97000|
|GRP154|          95000|
|GRP133|          93000|
|GRP157|          92000|
|GRP134|          90000|
|GRP143|          90000|
|GRP106|          89000|
|GRP129|          88000|
|GRP152|          87000|
|GRP153|          86000|
|GRP150|          84000|
|GRP124|          81000|
|GRP122|          79000|
|GRP115|          79000|
|GRP121|          78000|
|GRP109|          78000|
|GRP101|          72000|
+------+---------------+
only showing top 20 rows

In [43]:
# List all the patients below age of 18 who admit for cancer

sparkdf = spark.sql("select patient_id, patient_name,\
          year(current_date())-year(patient_birth_date) as age from patient_details \
          where disease_name like '%cancer' order by age limit 2")
sparkdf.toPandas().to_csv('Spark Outputs/query12.csv')
sparkdf.show()

+----------+------------+---+
|patient_id|patient_name|age|
+----------+------------+---+
|    194166|          NA| 11|
|    197441|    Deependu| 20|
+----------+------------+---+

In [44]:
# List patients who have cashless insura0nce and have total charges greater than or equal for Rs. 50,000.

sparkdf = spark.sql("select patient_name,patient_gender,patient_birth_date \
          from patient_details join claims on patient_details.patient_id = claims.patient_id \
          where claim_amount >= 50000 and claim_type = 'claims of value'")
sparkdf.toPandas().to_csv('Spark Outputs/query13.csv')
sparkdf.show()

+------------+--------------+------------------+
|patient_name|patient_gender|patient_birth_date|
+------------+--------------+------------------+
|   Anjushree|          Male|        1982-06-28|
|  Chitranjan|        Female|        2020-10-27|
|      Gensho|          Male|        1991-07-27|
|  Vaijayanti|          Male|        1969-04-06|
|       Aakar|        Female|        1990-04-24|
|          NA|        Female|        1959-01-06|
|       Saroj|        Female|        1953-07-21|
|     Bhagvan|        Female|        2011-02-26|
|  Dharmadaas|          Male|        1964-10-25|
|       Umang|        Female|        2017-02-26|
|          NA|          Male|        1955-06-03|
|      Kishan|          Male|        1955-06-30|
|          NA|        Female|        1953-04-04|
|     Devnath|        Female|        1982-02-22|
|      Harbir|        Female|        1960-02-24|
|       Ekant|          Male|        1969-11-01|
|          NA|          Male|        2013-10-30|
|          NA|          Male|        1956-04-04|
|       Lalit|        Female|        1978-04-30|
|     Ujjawal|          Male|        1965-12-31|
+------------+--------------+------------------+

In [45]:
# List female patients over the age of 40 that have undergone knee surgery in the past year

sparkdf = spark.sql("select patient_name from patient_details where patient_gender = 'Female' and disease_name = 'Heart Attack'")
sparkdf.toPandas().to_csv('Spark Outputs/query14.csv')
sparkdf.show()

+------------+
|patient_name|
+------------+
|     Upasana|
+------------+